@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 15% 18%;
    --foreground: 210 40% 98%;
    --card: 200 15% 22%;
    --card-foreground: 210 40% 98%;
    --popover: 200 15% 18%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 82% 67%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 200 15% 28%;
    --secondary-foreground: 210 40% 98%;
    --muted: 200 15% 28%;
    --muted-foreground: 200 15% 60%;
    --accent: 34 100% 62%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 15% 28%;
    --input: 200 15% 28%;
    --ring: 207 82% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background: linear-gradient(300deg, hsl(200, 15%, 12%), hsl(200, 15%, 18%), hsl(200, 15%, 12%));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
